[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
django-crispy-forms = "*"
django-allauth = "*"
markdown = "*"
python-decouple = "*"
django-debug-toolbar = "*"
django-heroku = "*"
dj-database-url = "*"
gunicorn = "*"
sentry-sdk = "*"
django-admin-honeypot = "*"
pillow = "*"
django-storages = "*"
django-imagekit = "*"
djangorestframework = "*"
django-rest-auth = "*"
django-filter = "*"
boto3 = "*"
whitenoise = "*"
python-memcached = "*"
martor = "*"
requests = "*"
bleach = "*"

[requires]
python_version = "3.8"
