{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Forum-create-new-topic{% endblock %}


{% comment %}
{% block stylesheet %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock stylesheet %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        const simplemde = new SimpleMDE();
        console.log(simplemde)
    </script>
{% endblock javascript %}
{% endcomment %}

{% block content %}
<main class="container my-5" role="main">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Add new topic here!</h3>
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form|crispy }}
                        <button class="btn btn-dark">Add Topic</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}