{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %} 
{% load gravatar %}
{% load martortags %}
{% block title %}Forum-{{ topic }} reply{% endblock %}







{% block content %}
<main class="container my-5" role="main">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <section style="margin-bottom: 8rem;" class="card">
                <div class="text-center card-header">
                    <h3>Reply</h3>
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form.media }}
                        {{form|crispy }}
                        <button class="btn btn-dark">reply</button>
                        <!-- <input type="button" role="button" value="reply" class="btn btn-dark"> -->
                    </form>
                </div>
            </section>
            <button  class="btn btn-info">Subject</button>
            <section style="margin-bottom: 2rem;" class="card mt-3">
                <div class="card-body">
                    <div class=" p-4 border border-dark mb-4">
                        <div class="mb-2">
                            <small class="badge badge-pill badge-primary">Created by {{ subject.created_by.username }} | {{ subject.created_on|naturaltime }}</small>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <img src="{{ subject.created_by|gravatar_img }}" alt="{{ subject.created_by.username }}" class="w-100 rounded">
                                {% if subject.created_by.posts %}
                                <small>posts: {{ subject.created_by.posts.count }}</small>
                                {% endif %}
                            </div>
                            <div class="col-10">
                                <p>{{ subject.post|safe_markdown }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% if replies %}
            <button  class="btn btn-info">Reply</button>
            <div class="card mt-3">
                <section class="card-body ">
                    {% for reply in replies %}
                        <div class="p-4 border border-dark mb-4">
                            <div class="mb-2">
                                <small class="badge badge-pill badge-{{ reply.topic.board.get_badge_display }}">Created by {{ reply.created_by.username }} | {{ reply.created_on|naturaltime }}</small>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <img src="{{ reply.created_by|gravatar_img }}" alt="{{ reply.created_by.username }}" class="w-100 rounded">
                                    <small>posts: {{ reply.created_by.posts.count }}</small>
                                </div>
                                <div class="col-10">
                                    <p>{{ reply.post|safe_markdown  }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </section>
            </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}