{% extends 'base.html' %}
{% load humanize %} 
{% load gravatar %}
{% load bleach %}
{% load static %}
{% load martortags %}

{% block title %}Forum-{{ topic }}{% endblock %}



{% block content %}
    <div class="container my-5">
        <main role="main">
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <section class="card">
                        <div class="card-header">
                            <h4>{{ topic }}</h4>
                            <small class="badge badge-pill badge-{{ topic.board.get_badge_display }}">{{ topic.board }}</small>
                        </div>
                    </section>
                    <section style="margin-bottom: 8rem;" class="card">
                        <div class="card-body">
                            <div class=" p-4 border border-dark mb-4">
                                <div class="mb-2">
                                    <small class="badge badge-pill badge-primary">Created by {{ subject.created_by }} | {{ subject.created_on|naturaltime }}</small>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <img src="{{ subject.created_by|gravatar_img }}" alt="{{ subject.created_by.username }}" class="w-100 rounded">
                                        <small>Posts: {{ subject.created_by.posts.count }}</small>
                                    </div>
                                    <div class="col-10">
                                        <p>{{ subject.post|safe_markdown|rich_text  }}</p>
                                    </div>
                                </div>                                
                                {% if subject.created_by == request.user %}
                                    <a class="btn btn-info" href="{% url 'boards:post_update' topic.board.slug topic.slug topic.pk subject.pk %}">Edit</a>
                                {% endif %}
                            </div>
                            <div class="">
                                <a class="btn btn-dark" href="{% url 'boards:new_topic_post' topic.board.slug topic.slug topic.pk %}">Reply</a>
                            </div>
                        </div>
                    </section>
                    {% if replies %}
                    <div class="card">
                        <section class="card-body ">
                            {% for reply in replies %}
                                <div class="p-4 border border-dark mb-4">
                                    <div class="mb-2">
                                        <small class="badge badge-pill badge-dark">Created by {{ reply.created_by }} | {{ reply.created_on|naturaltime }}</small>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">
                                            <img src="{{ reply.created_by|gravatar_img }}" alt="{{ reply.created_by.username }}" class="w-100 rounded">
                                            <small>posts: {{ reply.created_by.posts.count }}</small>
                                        </div>
                                        <div class="col-10">
                                            <p >{{ reply.post|safe_markdown|rich_text  }}</p>
                                        </div>
                                    </div>
                                    {% if reply.created_by == request.user %}
                                        <a class="btn btn-info" href="{% url 'boards:post_update' topic.board.slug topic.slug topic.pk reply.pk %}">Edit</a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </section>
                    </div>
                    {% endif %}
                </div>
            </div>
        </main>
    </div>
{% endblock %}